<p><u>{{label}}</u></p>
<select>
  {{#each options}}
    <option value ="{{value}}" {{#equal ../value value }} selected="selected" {{/equal}}>{{text}}</option>
  {{/each}}
</select>
{{#if tooltip}}
  <span class="tooltip">Tip: {{tooltip}}</span>
{{/if}}
<p class="error-msg hidden"></p>
