<span>{{label}}</span>
<input type ="number" value ="{{value}}" step ="{{increment}}" min="{{min}}" max="{{max}}" title="Use up/down arrows to change value">
<span class="tooltip">Use up/down arrows to change value</span>
<p class="error-msg hidden">Values should be between {{min}} and {{max}}</p>
