<!-- Container for label and description -->
<div class="question-group-title">
  <h3>{{label}}</h3>
  <p>{{{desp}}}</p>
  <hr />
</div>

<!-- Container for all the question -->
<div class ="questions-container"></div>

<div class="well red-well hidden">
  Please enter the required fields!
</div>
