<div>
  <span>{{label}}</span>
</div>

<div style="position:relative;">
  {{#each options}}
    <label>
      <input type="radio" name="radio-group-{{../name}}" value="{{value}}" {{#equal ../value value }} checked="checked" {{/equal}} >
      <span>{{label}}</span>
    </label>
  {{/each}}

  {{#if tooltip}}
    <span class="tooltip">Tip: {{tooltip}}</span>
  {{/if}}

  <div>
    <p class="error-msg hidden"></p>
  </div>
</div>
