<p><u>{{label}}</u></p>

<span style="float:left;font-size:11px;">N/A</span>
<span style="float:right;font-size:11px;">{{max}}</span>

<input type ="range" value ="{{value}}" step ="{{increment}}" min ="{{min}}" max ="{{max}}">
<b><span class="display-value">{{#equal value min}}  {{else}} {{value}} {{/equal}}</span></b>

{{#if tooltip}}
  <span class="tooltip">Tip: {{tooltip}}</span>
{{/if}}
