// todo:
// - colors?
check-box($size = 17px, $font-size = 16px, $box-stroke = 1px, $check-stroke = 2px, $border-radius = 2px, $check-contain = true, $focus-glow = #2196f3)
  // hide native styling
  position: absolute
  left: -9999px
  + span
    position: relative
    font-size: $font-size
    padding-left: ($size + $check-stroke + $box-stroke + 10px)
    line-height: ($size + $check-stroke + $box-stroke)
    padding-top: round($size / 2 - $font-size / 2 + $check-stroke)
    // Use the span's before to make the box:
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: ($size + $check-stroke + $box-stroke)
      height: ($size + $check-stroke + $box-stroke)
      border: $box-stroke solid #aaaaaa
      background: #f8f8f8
      border-radius: $border-radius
    // Use the span's after to make the checkmark:
    &:after
      border-left: $check-stroke solid #666666
      border-bottom: $check-stroke solid #666666
      color: #09ad7e
      content: ''
      position: absolute
      transition: all .2s
      transform: scale(1) rotate(-45deg)
      if $check-contain
        left: round(($size + $check-stroke) * 0.23 + $box-stroke * 1.2)
        height: round($size * 0.18)
        top: round(($size + $check-stroke) / 3.4 + $box-stroke * 1.2)
        width: round($size * 0.5)
      else
        left: round(($size + $check-stroke) * 0.27 + $box-stroke * 1.2)
        height: round(($size + $check-stroke) * 0.27)
        top: round($box-stroke * 1.2)
        width: round($size + $check-stroke)
  // inactive checkmark
  &:not(:checked) + span:after
    opacity: 0
    transform: scale(0) rotate(-45deg)
  // active checkmark
  &:checked + span:after
    opacity: 1
  // disabled checkbox
  &:disabled + span
    color: #bbb
    cursor: not-allowed
    &:before
      background-color: rgba(black, 0.06)
      border-color: rgba(black, 0.1)
    &:after
      border-color: rgba(black, 0.2)
  // focus
  &:focus + span:before
    if $focus-glow
      border: $box-stroke solid $focus-glow
      box-shadow: 0 0 3px 3px rgba($focus-glow, 0.1)
    else
      border: $box-stroke solid rgba(black, 0.5)
  // Entire span + checkbox should have pointer cursor if not disabled
  &:not(:disabled) + span
    &:hover
      cursor: pointer
      &:before
        border: $box-stroke solid #2196f3
