@import 'variables'
@import 'checkbox'
@import 'range'
@import 'nib'

$font-stack = $font-family

normalize-css()

html
  font-family $font-family

body
  background-color $lightgray
  // lost-utility edit

#site-header
  color $white
  background-color $earthyBlack
  .title-container
    lost-center $center-width
    padding: 10px
    #mainlogo
      float: left;
    #partnerlogo
      float: right;

#site-nav
  background-color $earthyLightGray
  box-shadow: 0px 2px 4px 0px #000
  .nav-links
    reset-list()
    lost-center $center-width
    li
      display inline-block
      float left
      text-align center
      padding 15px 15px
      margin-right 0px
      transition all .5s $ease-out-quad
      &:hover
        cursor pointer
        background-color darken($earthyLightGray,40%)
      a
        reset-link()
        color #FFF
        &:hover
          color #FFF

main
  lost-center $center-width

main
  h1
  h2
  h3
  h4
  h5
  h6
    reset-box-model()

main
  input[type='range']
  input[type='text']
  input[type='number']
  textarea
    width 100%

textarea
input[type='text']
input[type='number']
  border none
  border-top-left-radius: 2px
  border-top-right-radius: 2px
  background-color: #f2f2f2
  outline none
  transition all .1s ease-in
  &:focus
    border-bottom 2px solid $lightblue
    &~.tooltip
      display block

.dropdown
  position: relative;
  select
    width auto
    // appearance none
    border none
    border-bottom 1px solid lighten($midgray,70%)
    outline none
    transition all .1s ease-in
    &:hover
      cursor pointer
      border-bottom 2px solid $orange

.text-area
  textarea
    padding 10px
    &:focus
      padding 12px


.text-field
  input[type='text']
    width 80%
    padding 5px
    margin-bottom 5px
    &:focus
      padding 6px

.number-field-increment
  input[type='number']
    padding 5px
    appearance textfield
    &::-webkit-inner-spin-button
      appearance none
    &::-webkit-outer-spin-button
      appearance none
    &:focus
      padding 8px


.radio-input, .likert-scale
  label
    radio($earthyLightGray)


.slider
  position: relative;
  .tooltip
    position: absolute;
    right: 0%;
    background-color: rgba(45, 45, 45, 0.93);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: all .2s;
    max-width: 20%;
  &:hover
    .tooltip
      display: block;

.radio-input, .likert-scale, .dropdown
  .tooltip
    position: absolute;
    top: 10%;
    right: 0%;
    background-color: rgba(45, 45, 45, 0.93);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: all .2s;
    max-width: 20%;
  &:hover
    .tooltip
      display: block;

.checkbox
  input[type='checkbox']
    check-box($font-size:13px, $border-radius:0px, $size:12px, $focus-glow: $seablue)

main
  color $gray
  padding 20px 0px
  min-height: 600px

#survey-header
  text-align left
  margin 10px 0px
  div
    display inline-block

#progress-bar
  margin 30px 0px
  lost-align top-center
  padding 2px
  progress
    appearance none
    height 100%
    width 50%
    border none
    background lighten($midgray, 75%)

#container
  margin 50px 0px
  lost-utility clearfix
  &>div
    lost-column 1/4 0
    &:nth-child(2)
      lost-column 3/4 0

#side-nav
  ul
    reset-list()
    fs 13px
    .active
      border-left 4px solid #000
      padding-left 5px
      background-color: RGBA(51, 51, 51, 0.12);
    li
      cursor pointer
      transition all .2s $ease-out-quart
      margin 5px 0px

.question-category
  margin-bottom 20px

.question-group
  &:not(:last-child)
    margin-bottom 20px
  padding 30px 50px
  background-color $white
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)

.question-group-title
  hr
    rule $midgray 30px

.question
  fs 13px
  margin 30px 0px

.question-text
  fs 14px

.question-inputs
  margin-top 10px
  lost-utility clearfix
  div
    lost-column 1/3
    margin-bottom: 15px
    div
      lost-column 1/2
  .likert-scale
    lost-column 1/1 0
    div
      lost-column 1/1 0
      label
        display inline-block
        padding-left 10px
  .radio-input
    lost-column 1/1 0
    &:not(:last-child)
      margin-bottom: 5px
    div:first-child
      lost-column 1/3 0
    div:not(:first-child)
      lost-column 2/3 0
      label
        display inline-block
        padding-left 10px

.navigators
  margin-top 10px
  text-align center

footer
  color $white
  background-color $earthyBlack

#footer-container
  lost-center $center-width
  p
    fs 13px

// Button styles
.button
  text-decoration none
  color $white
  padding 7px 25px
  margin 5px 15px
  background $earthyLightGray
  transition all .2s
  box-shadow: 0 3px 2px 0 rgba(0,0,0,.2)
  &:hover
    background darken($earthyLightGray, 25%)
  &:focus
    background darken($earthyLightGray, 35%)

figure
  figure: $gray

// Misc Utilities
.hidden
  display none

.has-error
  color $red
  input[type='text']
  input[type='number']
  textarea
    border-bottom solid 1px red
    &:focus
      border-bottom solid 2px red

.tooltip
  display none
  fs 10px
  padding 5px
  transition: all .2s ease-in

//Colors
.red
  color $red

// Wells
.well
  border-radius 2px
  background lighten($lightblue, 70%)
  padding 10px
  fs 13px
  color $gray
  &.red-well
    background #993C3C;
    color: white;
